body{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height:100%;

}
body::before{
  content: ' ';
  background:url("Images/unc-logo.jpg") no-repeat center center fixed;
  background-size:contain;
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index: -1;
  height:200%;
  opacity:.2;
}
.row{
display:table;

margin-bottom:20px;
}
.container{

}

h2{
  font-family: "Arial Black", Gadget, sans-serif;
}
h3{
  font-family:"Arial Black", Gadget, sans-serif;
}
.column{
float:left;
width:50%;
display:table-cell;

}
.column-header{
float:left;
}
#portfolio{
padding-top:250px;
}
